*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  height:100vh;
  background:url("https://images.unsplash.com/photo-1522708323590-d24dbb6b0267")
  center/cover no-repeat;
}

/* center content */

.home-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:90vh;
}

/* hero box */

.hero{
  background:rgba(0,0,0,0.6);
  padding:50px;
  border-radius:12px;
  text-align:center;
  color:white;
  width:400px;
}

/* heading */

.hero h1{
  font-size:38px;
  margin-bottom:15px;
}

/* paragraph */

.hero p{
  font-size:18px;
  margin-bottom:30px;
  line-height:1.5;
}

/* buttons container */

.buttons{
  display:flex;
  justify-content:center;
  gap:20px;
}

/* button style */

.btn{
  text-decoration:none;
  padding:12px 25px;
  border-radius:6px;
  font-weight:bold;
  transition:0.3s;
}

/* login button */
.login-btn{
  background:#4CAF50;
  color:white;
}

/* signup button */
.signup-btn{
  background:#ff9800;
  color:white;
}

/* hover effect */

.btn:hover{
  transform:scale(1.05);
  opacity:0.9;
}